body {
    font-family: Helvetica, Arial, sans-serif;
    /* font-size: 16px; */
    /* line-height: 1.5; */
}

.content-wrapper {
    padding: 18px;
}

.editor {
    margin-top: 22px;
    /* 使编辑器全屏显示在最顶层 */
    position: relative;
    z-index: 9999;
}

/* 分页 */
/*.page {*/
    /*padding: 16px;*/
    /*text-align: center;*/
    /*display: block;*/
/*}*/

/*.page .page-number {*/
    /*font-size: 14px;*/
    /*background: #3c8dbc;*/
    /*color: #fff;*/
    /*!* margin: 0 3px; *!*/
    /*display: inline-block;*/
    /*line-height: 36px;*/
    /*padding: 0 14px;*/
    /*border-radius: 2px;*/
/*}*/
/*.page .next {*/
    /*font-size: 14px;*/
    /*text-align: center;*/
    /*display: inline-block;*/
    /*color: #fff;*/
    /*background: #3c8dbc;*/
    /*border-radius: 2px;*/
    /*width: 36px;*/
    /*height: 36px;*/
    /*line-height: 36px;*/
/*}*/
/*.page .next:hover {*/
    /*text-decoration: none;*/
/*}*/